@charset "utf-8";

.container {
  width: 100%;
  display: table;
  padding: 25px 0;
}

.inner{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.red-box {
  width: 300px;
  background-color: #ff7b7b;
}

.blue-box {
  background-color: #7b86ff;
}

.yellow-box {
  width: 300px;
  background-color: #fff27f;
}

.green-box {
  background-color: #7bff91;
}

.pink-box {
  width: 400px;
  background-color: #ff7be2;
}

.orange-box {
  width: 400px;
  background-color: #ffc67b;
}

.skyblue-box {
  background-color: #7bf2ff;
}

